salesforce/force-app/main/default/flows/RTS_Flow_7_Enrollment_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Enrollment_Confirmation</name>
        <label>Send Enrollment Confirmation</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <actionName>Lead.RTS_Send_Enrollment_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Offer_Response_Confirmed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.RTS_Send_Enrollment_Confirmation</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <recordUpdates>
        <name>Set_Offer_Response_Confirmed</name>
        <label>Set Offer Response Confirmed</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Create_Convert_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RTS_Offer_Response__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RTS_Offer_Response_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordCreates>
        <name>Create_Convert_Task</name>
        <label>Create Convert Lead Task</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Convert lead and create Program Engagement in NPC. Then set Status = RTS - Converted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <description>Fires when Coordinator moves a Lead to Status = RTS - Accepted - Confirmed. Sends the Enrollment Confirmation email, stamps Offer_Response = Confirmed with today's date, and creates a same-day task for the Lead owner to convert the Lead to Contact + Program Engagement.</description>
    <environments>Default</environments>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>"Convert Lead to Contact — " &amp; {!$Record.FirstName} &amp; " " &amp; {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>RTS Flow 7 — Enrollment Confirmation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTS Flow 7 — Enrollment Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Enrollment_Confirmation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTS - Accepted - Confirmed</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
