salesforce/force-app/main/default/flows/RTS_Flow_Info_Session_Assign_RecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save flow. When a new Lead is created with LeadSource = Wesbite_msimbo.org AND RTS_Info_Session_Date__c populated AND RTS_Date_of_Birth__c null (info-session, not application), updates the Lead's RecordTypeId to RTS_Info_Session and assigns the Program Coordinator as owner. Works around Web-to-Lead's default RecordType behavior which creates leads as RTS_Applicant even when the recordType hidden field is sent.</description>
    <environments>Default</environments>
    <interviewLabel>RTS Flow — Info Session Assign RecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTS Flow — Info Session Assign RecordType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Coordinator</name>
        <label>Get Program Coordinator User</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Info_Session_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>bguzman@ulem.org</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Info_Session_RecordType</name>
        <label>Get RTS Info Session RecordType</label>
        <locationX>176</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTS_Info_Session</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_RecordType</name>
        <label>Update Lead RecordType and Owner</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Info_Session_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Coordinator.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Coordinator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wesbite_msimbo.org</stringValue>
            </value>
        </filters>
        <filters>
            <field>RTS_Info_Session_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RTS_Date_of_Birth__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
