salesforce/force-app/main/default/flows/RTS_Flow_8_Assessment_Retake.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Retake_Invitation</name>
        <label>Send Retake Invitation</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>Lead.RTS_Send_Assessment_Retake_Invitation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Increment_Attempts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.RTS_Send_Assessment_Retake_Invitation</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <recordUpdates>
        <name>Increment_Attempts</name>
        <label>Increment Assessment Attempts</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RTS_Assessment_Attempts__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <description>Fires when Coordinator sets RTS_Assessment_Status__c = Retake Required on a Lead that has only attempted the assessment once. Sends the retake invitation email and bumps Attempts to 2. Entry condition caps at 2 total attempts — a second retake trigger does nothing.</description>
    <environments>Default</environments>
    <interviewLabel>RTS Flow 8 — Assessment Retake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTS Flow 8 — Assessment Retake</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Retake_Invitation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RTS_Assessment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retake Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>RTS_Assessment_Attempts__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
